@import 'sing up.scss';

@font-face {
    font-family:"Inter-Variable" ;
    src: url(/src/fonts/Inter-Variable.ttf);
}
body{
    font-family: "Inter-Variable";
}
header{
    .header-end{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
     
        a{
            text-decoration: none;
           

        
        }
        :nth-child(1){
            background: $red;
            color: #ffff;
            padding: 12px 40px;


        }
        :nth-child(2){
            color: $red;

        }
    }
}