$white : #FFFFFF;
$mediumWhite: #FAFAFA;
$lightYellow: #FEFAF1;
$black: #000000;
$gray : #7D8184;
$mediumGray: #F5F5F5;
$orange: #D37643;
$red: #DB4444;
$mediumRed: #E07575;
$green: #00FF66;
$blue: #A0BCE0;

$br : 4px;
$trs : 0.3s;

$tabletL: 1024px;
$tabletM: 820px;
$mobileL: 768px;
$mobileM: 580px;
$mobileS: 380px;

@font-face {
	font-family: "poppins";
	src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: "inter-medium";
	src: url("../fonts/Inter-Medium.ttf");
}

@font-face {
	font-family: "inter-bold";
	src: url("../fonts/Inter-Bold.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
	font-family: "poppins", sans-serif;
	overflow-y: scroll;
}

.redBtn {
	display: block;
	width: fit-content;
	padding: 16px 48px;
	background: $red;
	color: $white;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
	border-radius: $br;
	transition: all $trs;




}

.hoveredicon {
	cursor: pointer;

	span,
	a {
		transition: $trs;
	}

	svg {
		path {
			transition: $trs;
		}
	}

	&:hover {
		svg {
			path {
				stroke: $red;
			}
		}
	}

	&:hover {
		span {
			background: $red !important;
		}
	}

	&.header__menu__item {
		&:hover {
			a {
				color: $red !important;
			}

			svg {
				path {
					fill: $red;
				}
			}
		}
	}
}

.container {
	max-width: 1234px;
	padding: 0px 32px;
	margin: 0 auto;
}

.top__header__section {
	background: $black;

	.container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-height: 48px;
		gap: 231px;

		.top__header__text {
			p {
				color: $mediumWhite;
				font-size: 14px;
				margin: 0;

				a {
					margin-left: 8px;
					color: $mediumWhite;
					font-weight: 600;
				}
			}
		}

		.top__header__langs {
			select {
				appearance: none;
				background: none;
				color: #fff;
				border: none;
				outline: 0;
				cursor: pointer;

				option {
					appearance: none;
					background: $black;
					border: none;
					cursor: pointer;
				}
			}
		}

		@media screen and (max-width: $tabletL) {
			gap: 115px;
		}

		@media screen and (max-width: $tabletM) {
			flex-wrap: wrap;
			justify-content: center;
			gap: 16px;
			padding-top: 16px;
			padding-bottom: 16px;
			text-align: center;

			.top__header__text {
				width: 100%;
			}
		}
	}
}

nav {
	border-bottom: 0.5px solid #0000004d;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 40px;
		margin-bottom: 16px;

		.nav__logo {
			h2 {
				a {
					color: $black;
					text-decoration: none;
					font-size: 24px;
					font-family: "inter-bold";
				}
			}
		}

		.nav__menu {
			display: flex;
			gap: 48px;

			.nav__menu__item {
				a {
					position: relative;
					text-decoration: none;
					color: $black;
					font-size: 16px;

					&::before {
						content: "";
						width: 0%;
						height: 1px;
						background: #00000080;
						position: absolute;
						left: 0;
						bottom: -5px;
						transition: $trs;
					}

					&:hover {
						&::before {
							width: 100%;
						}
					}
				}
			}

			form {
				display: none;
			}
		}

		.nav__icons {
			display: flex;
			align-items: center;
			gap: 24px;

			form {
				position: relative;

				input {
					background: $mediumGray;
					border-radius: $br;
					padding: 7px 45px 7px 20px;
					border: none;
					outline: 0;
					width: 243px;
					height: 38px;
					font-size: 14px;
					color: #00000080;

					&::placeholder {
						font-size: 12px;
						color: #00000080;
					}
				}

				button {
					position: absolute;
					right: 12px;
					top: 8px;
					border: none;
					background: none;
					cursor: pointer;
				}
			}

			.nav__icons__end {
				display: flex;
				justify-content: end;
				align-items: center;
				gap: 16px;

				.to__wish__list__btn,
				.to__basket__btn {
					a {
						display: block;

						svg {
							display: block;
							width: 100%;
							height: 100%;
						}
					}
				}

				.burger__menu {
					display: none;
					flex-direction: column;
					justify-content: space-between;
					align-content: space-between;
					width: 30px;
					height: 20px;

					span {
						display: block;
						background: $black;
						width: 100%;
						height: 2px;
						border-radius: $br;
						transition: 0.3s;
					}

					&.active {
						span:nth-child(1) {
							transform: rotate(-45deg) translate(-11px, 2px);
						}

						span:nth-child(2) {
							display: none;
						}

						span:nth-child(3) {
							transform: rotate(45deg) translate(-11px, -2px);
						}
					}
				}
			}
		}

		@media screen and (max-width: $tabletL) {
			.nav__menu {
				gap: 24px;
			}

			.nav__icons {
				form {
					input {
						width: 200px;
						padding: 7px 45px 7px 10px;
					}
				}
			}
		}

		@media screen and (max-width: $tabletM) {
			.nav__icons {
				form {
					input {
						width: 150px;
						padding: 7px 45px 7px 10px;
					}
				}
			}
		}

		@media screen and (max-width: $mobileL) {
			margin-top: 8px;
			margin-bottom: 8px;
			position: relative;

			.nav__icons {
				form {
					display: none;
				}

				.nav__icons__end {
					.burger__menu {
						display: flex;
						cursor: pointer;
					}
				}
			}

			.nav__menu {
				display: none;
				position: absolute;
				flex-direction: column;
				background: #fff;
				width: 100%;
				left: 0;
				top: 85px;
				gap: 0px;

				.nav__menu__item {
					border-bottom: 0.5px solid #eee;

					a {
						display: block;
						padding: 32px;
						transition: $trs;

						&::before {
							display: none;
						}

						&:hover {
							background: #eee;
						}
					}

					&:nth-child(4) {
						border-bottom: none;
					}
				}

				form {
					display: flex;
					padding: 16px 32px;

					input {
						background: $mediumGray;
						border-radius: $br 0px 0px $br;
						padding: 7px 45px 7px 20px;
						border: none;
						outline: 0;
						width: 100%;
						height: 38px;
						font-size: 14px;
						color: #00000080;

						&::placeholder {
							font-size: 12px;
							color: #00000080;
						}
					}

					button {
						background: $mediumGray;
						border-radius: 0px $br $br 0px;
						border: none;
						outline: 0;
						font-size: 14px;
						cursor: pointer;
					}
				}
			}
		}
	}
}


header {
	margin-top: 40px;

	.container {
		display: flex;
		gap: 64px;

		.header__menu {
			position: relative;

			.header__menu__item {
				display: flex;
				justify-content: space-between;
				width: 217px;
				height: 24px;
				margin-bottom: 16px;

				a {
					font-size: 16px;
					color: $black;
					text-decoration: none;
					white-space: nowrap;
					width: 100%;
					line-height: 24px;
				}

				.header__menu__item__open {
					cursor: pointer;
					transition: transform $trs;
				}

				&:last-child {
					margin-bottom: 0px;
				}
			}

			&::after {
				content: "";
				width: 0.5px;
				height: calc(100% + 40px);
				position: absolute;
				background: $black;
				top: -40px;
				right: 0px;
				opacity: 0.3;
			}
		}

		.header__slider {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 24px;
			width: 892px;
			background: #000;
			padding: 32px;

			.header__slider__content {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 24px;

				.header__slider__left {
					flex-basis: 294px;
					white-space: nowrap;

					.header__slider__brand {
						display: flex;
						align-items: center;
						gap: 16px;

						img {
							display: block;
							margin: 0;
						}

						span {
							font-size: min(16px, max(8px + 2vw));
							text-align: center;
							color: $mediumWhite;
						}
					}

					.header__slider__title {
						h4 {
							font-family: 'Inter', sans-serif;
							font-weight: 600;
							font-size: min(48px, max(24px + 2vw));
							letter-spacing: 2px;
							color: $mediumWhite;
							margin: 24px 0px;
						}
					}

					.header__slider__btn {
						a {
							display: flex;
							align-items: center;
							gap: 12px;
							font-size: min(16px, max(8px + 2vw));
							text-decoration: none;
							color: $mediumWhite;

							span {
								border-bottom: 1px solid $mediumWhite;
								padding-bottom: 4px;
							}
						}
					}
				}

				.header__slider__right {
					flex-basis: 400px;

					img {
						display: block;
						width: 100%;
					}
				}

				@media screen and (max-width: $mobileL) {
					flex-wrap: wrap;

					.header__slider__left {
						flex-basis: unset;
						text-align: center;

						.header__slider__brand,
						.header__slider__btn a {
							justify-content: center;
						}
					}

					.header__slider__right {
						flex-basis: unset;
					}
				}
			}

			.header__slider__dots {
				display: flex;
				justify-content: center;
				gap: 12px;

				.dot {
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: #fff;
					opacity: 0.5;
					cursor: pointer;

					&.active__dot {
						background: $red;
						opacity: 1;
						border: 2px solid #fff
					}
				}
			}

			@media screen and (max-width: $mobileM) {
				padding: 24px;
			}

			@media screen and (max-width: $mobileS) {
				padding: 12px;
			}
		}

		@media screen and (max-width: 1100px) {
			gap: 32px;

			.header__menu {
				.header__menu__item {
					width: 180px;
				}
			}
		}

		@media screen and (max-width: $tabletL) {
			gap: 16px
		}

		@media screen and (max-width: $tabletM) {
			flex-wrap: wrap;

			.header__menu {
				display: flex;
				overflow-y: hidden;
				overflow-x: auto;
				gap: 32px;

				&::after {
					display: none;
				}

				.header__menu__item {
					width: unset;

					a {
						width: unset;
					}
				}
			}

			::-webkit-scrollbar {
				width: 10px;
				height: 6px;
				border-radius: 32px;
			}

			::-webkit-scrollbar-track {
				background: #f1f1f1;
				border-radius: 32px;
			}

			::-webkit-scrollbar-thumb {
				background: #888;
				border-radius: 32px;
			}

			::-webkit-scrollbar-thumb:hover {
				background: #555;
			}
		}

		@media screen and (max-width: $mobileM) {
			.header__menu {
				.header__menu__item {
					a {
						font-size: 14px;
					}
				}
			}
		}

		@media screen and (max-width: $mobileS) {
			.header__menu {
				.header__menu__item {
					a {
						font-size: 12px;
					}
				}
			}
		}
	}
}

main {
	margin-top: 140px;
	margin-bottom: 140px;

	.container {
		.items_template_section {
			&:nth-child(5) {
				border-bottom: none;
			}



			border-bottom: 0.5px solid #00000030;
			margin-bottom: 70px;
			padding-bottom: 70px;




			.its_category_title {
				color: $red;
				font-size: 16px;
				font-weight: 600;
				position: relative;
				padding-left: 32px;
				line-height: 40px;
				margin: 0px 0px 24px 0px;

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					width: 20px;
					height: 40px;
					border-radius: $br;
					background: $red;
				}
			}



			.its_header {
				display: flex;
				justify-content: space-between;
				align-items: center;




				.itsh_left {
					display: flex;
					align-items: center;
					gap: 87px;

					.its__header__title {
						font-family: 'Inter', sans-serif;
						font-weight: 600;
						font-size: min(36px, max(18px + 2vw));
						margin: 0;


					}

					.timer {
						display: flex;
						align-items: center;
						gap: 17px;

						h5 {
							margin: 0;

							span {
								display: block;

								&:first-child {
									font-weight: 500;
									color: $black;
									margin-bottom: 4px;
									font-size: 12px;
								}

								&:last-child {
									font-size: min(32px, max(16px + 2vw));
									font-family: 'Inter', sans-serif;
									font-weight: 700;
								}
							}
						}

						.seperator {
							margin-top: 12px;

							div {
								width: 4px;
								height: 4px;
								background: $red;
								border-radius: 50% 50%;
								margin-bottom: 8px;

								&:last-child {
									margin-bottom: unset;
								}
							}
						}
					}

				}

				.itsh_right {
					display: flex;
					gap: 8px;


					.left__btn,
					.right__btn {
						display: flex;
						justify-content: center;
						align-items: center;
						background: $mediumGray;
						width: 46px;
						height: 46px;
						border-radius: 50% 50%;
						cursor: pointer;

						svg {
							width: 20px;
							height: 20px;

							path {
								transition: fill $trs;
								fill: $black;
							}
						}

						&:first-child {
							svg {
								transform: rotate(180deg);
							}
						}

						&:hover {
							svg {
								path {
									fill: $red;
								}
							}
						}
					}
				}
			}

			.its_items {
				display: flex;
				gap: 30px;
				margin-top: 40px;

				.its_item {
					flex-basis: 270px;

					.its_item_header {
						display: flex;
						justify-content: center;
						align-items: center;
						background: $mediumGray;
						padding: 12px;
						border-radius: $br;
						position: relative;
						max-width: 270px;
						max-height: 250px;
						min-width: 270px;
						min-height: 250px;
						overflow: hidden;

						.sale {
							position: absolute;
							top: 12px;
							left: 12px;
							display: flex;
							justify-content: center;
							align-items: center;
							width: fit-content;
							font-size: 12px;
							background: $red;
							color: $white;
							padding: 4px 12px;
							border-radius: $br;
							user-select: none;


						}

						.sales {
							position: absolute;
							top: 12px;
							left: 12px;
							display: flex;
							justify-content: center;
							align-items: center;
							width: fit-content;
							font-size: 12px;
							background: $green;
							color: $white;
							padding: 4px 12px;
							border-radius: $br;
							user-select: none;

						}

						.wishlist,
						.preview {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 34px;
							height: 34px;
							border-radius: 50% 50%;
							background: $white;
							cursor: pointer;
						}

						.wishlist {
							position: absolute;
							top: 12px;
							right: 12px;
						}

						.preview {
							position: absolute;
							top: 54px;
							right: 12px;
						}

						.image {
							max-width: 172px;
							max-height: 152px;
							overflow: hidden;

							img {
								width: 100%;
								height: 100%;
								object-fit: contain;
							}
						}

						.to__basket {
							position: absolute;
							bottom: -100px;
							left: 0;
							width: 100%;
							padding: 8px 16px;
							text-align: center;
							background: $black;
							color: $white;
							cursor: pointer;
							transition: all $trs;

							&:hover {
								background: $green;
								color: $black;
							}
						}
					}

					.its_item_title {
						font-weight: 500;
						margin: 16px 0px 0px 0px;

						a {
							text-decoration: none;
							color: $black;
							font-size: 16px;
						}
					}

					.its_item_price {
						display: flex;
						align-items: center;
						gap: 12px;
						margin: 8px 0px;

						.current_price,
						.old_price {
							margin: 0;
						}

						.curren_price {
							color: $red;
						}

						.old_price {
							color: $black;
							opacity: 0.5;
							text-decoration: line-through;
						}
					}

					.its_item_review {
						display: flex;
						align-items: center;
						gap: 8px;

						.comments_count {
							p {
								font-size: 14px;
								color: $black;
								opacity: 0.5;
								font-weight: 600;
								margin: 0;
							}
						}
					}

					&:hover {
						.its_item_header {
							.to__basket {
								bottom: 0px;
							}
						}
					}
				}
			}

			.its_categories {
				display: flex;
				gap: 30px;
				margin-top: 60px;

				.category {
					a {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						width: 170px;
						height: 145px;
						border: 1px solid #0000004d;
						border-radius: $br;
						text-decoration: none;
						transition: all $trs;

						svg {
							margin-bottom: 16px;

							path,
							line {
								transition: inherit;
							}
						}

						span {
							font-size: 16px;
							color: $black;
							transition: inherit;
						}

						&:hover {
							background: $red;
							border-color: $red;

							svg {

								path,
								line {
									stroke: $white;
								}
							}

							span {
								color: $white;
							}
						}
					}
				}
			}

			.redBtn.bottom {
				margin: 60px auto 0px auto;
			}

			.items_left_right {
				display: flex;				
				gap: 20px;				
				margin-top: 50px;			
				top: 20px;
				gap: 40px;
				@media  screen and (max-width:1196px) {
					justify-content: center;
					align-items: center;
                   
					flex-wrap: wrap;
				}


				.left {
					background: #0C0C0CFF;
					position: relative;
					width: 570px;
					height: 600px;


					img {
						position: absolute;
						top: 89px;
						width: 511px;
						height: 511px;

					}

					.left_text {
						position: absolute;
						top: 425px;
						left: 20px;

						h4 {
							font-weight: 600;
							font-size: 24px;
							line-height: 24px;
							color: $mediumWhite;

						}

						p {
							font-weight: 400;
							font-size: 14px;
							line-height: 21px;
							color: $mediumWhite;





						}

						a {
							font-weight: 500;
							font-size: 16px;
							line-height: 24px;
							color: $mediumWhite;

						}

					}
				}

				.right {
				
					.right_top {
					    width: 570px;
						height: 284px;
						background: #0C0C0CFF;
						position: relative;
						border-radius: $br;
						
						img {
						
							position: absolute;
							left: 134px;

						}

						.right_text {
							position: absolute;
							top: 148px;
							left: 28px;
							h4 {
								color: $white;
								font-weight: 600;
								font-size: 24px;
								line-height: 24px;
								margin: 0;

							}

							p {
                                color: $white;
								font-weight: 400;
								font-size: 14px;
								line-height: 21px;
								margin-top: 10px;
								margin-bottom: 10px;
								
							}

							a {
								font-weight: 500;
								font-size: 16px;
								line-height: 24px;
								color: $white;
							}
						}
					}

					.right_bottem {
						display: flex;
						
						gap: 31px;
						margin-top: 32px;

						.bottem_right {
							width: 270px;
							height: 284px;
							border-radius: $br;
							position: relative;
							background: #222222FF;
							img {
								position: absolute;
								top: 44px;
								left:41px ;
							}

							.right_text {
								position: absolute;
								top: 161px;
								right: 64px;
							
								h4 { 
									margin: 0;
									font-weight: 600;
									font-size: 24px;
									line-height: 24px;
									color: $white;
								}

								p {
									font-weight: 400;
									font-size: 14px;
									line-height: 21px;
									color: $white;
								}

								a {
									color: $white;
									font-weight: 500;
									font-size: 16px;
									line-height: 24px;

								}
							}
						}

						.bottom_left {
							width: 270px;
							height: 284px;
							border-radius: $br;
							position: relative;
							background: #222222FF;
							img {
								position: absolute;
								top: 44px;
								left:41px ;
							}

							.right_text {
								position: absolute;
								top: 161px;
								right: 64px;
							
								h4 { 
									margin: 0;
									font-weight: 600;
									font-size: 24px;
									line-height: 24px;
									color: $white;
								}

								p {
									font-weight: 400;
									font-size: 14px;
									line-height: 21px;
									color: $white;
								}

								a {
									color: $white;
									font-weight: 500;
									font-size: 16px;
									line-height: 24px;

								}
							}

						}
					}
				}
				
				

			}


		}

		.dinamik_item {
			display: flex;
			align-items: center;
			justify-content: center;
			background: $black;
			width: 1170px;
			height: 500px;
			margin-bottom: 80px;

			.dinamik_left {

				h6 {
					color: $green;
					font-weight: 600;
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 0px;
					margin-left: 60px;
				}

				p {
					margin-top: 32px;
					margin-bottom: 32px;
					margin-left: 35px;
					font-weight: 600;
					font-size: 48px;
					line-height: 60px;
					color: $white;
				}

				a {
					width: 171px;
					height: 56px;
					display: block;
					margin-left: 35px;
					margin-top: 48px;
					color: $white;
					padding: 20px 50px;
					text-align: center;
					text-decoration: none;
					background: $green;
					cursor: pointer;

				}

				.time {
					display: flex;
					margin-left: 30px;
					gap: 12px;



					.time_item {
						display: block;
						margin-left: 10px;
						width: 62px;
						height: 62px;
						background: $lightYellow;
						border-radius: 50% 50%;

						p {
							margin: 0 auto;
						}


						:nth-child(1) {

							font-weight: 600;
							font-size: 16px;
							line-height: 20px;
							color: $black;
							margin-left: 20px;
							margin-top: 7px;


						}

						:nth-child(2) {
							font-weight: 400;
							font-size: 11px;
							line-height: 18px;
							color: $black;
							margin-top: 0px;
							margin-left: 13px;
							// text-align: center;

						}
					}
				}

			}

			.dinamik_right {


				width: 504px;
				height: 451px;
				margin-right: 10px;
				border-radius: 50% 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #D9D9D9;



				.dinamik_right_img {


					img {
						width: 431px;
						height: 251px;

					}
				}
			}
		}
		.items_temlate_end{
			.items{
				display: flex;
				justify-content: center;
				align-items:center ;
				gap: 60px;
				.item{
					text-align: center;
					
					.div_svg{
						display: flex;
						justify-content: center;
						align-items: center;
						width: 58px;
						height: 58px;
						background: $black;
						border-radius: 50% 50%;
						margin: 0 auto;
						
						border: 6px solid rgb(73, 72, 72);
						svg{
							padding: 5px;
						}

					}
					p{

					  color: $black;
					  font-weight: 600;
					  font-size: 20px;
					  line-height: 28px;
					  &:nth-child(3){
						font-weight: 400;
						font-size: 14px;
						line-height: 21px;
					  }

					}


				}
			}
		}

	}

}
footer{
	
	background: $black;
	
	height: 440px;
	.container{
	
		margin: 0 auto;
		
		
		
	.footer_items{
		display: flex;
		justify-content:space-between;
	;
	align-items: center;
		gap: 20px;
		.footer_item{
			.footer__icons{
				form{
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 12px 16px;
					width: 245px;
					height: 36px;
					
					border: 1px solid $white
					;
					input{
						background-color: $black;
						
						border: none;

					}
					button{
					border: none;
					background: none;

					}
				}
			}
			
		
			h3{
				 text-align: center;
				font-weight: 500;
				font-size: 20px;
				line-height: 28px;
				color: $white;
				margin-bottom: 24px;
				

			}
			.footer_a{
				margin: 10px 20px;
				height: 48px;
			
			a{
				
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
				text-align: center;			
				color: $white;
				text-decoration: none;
		

			}
		}
			p{  text-align: center;
				margin-top: 33px;
				font-weight: 500;
				font-size: 12px;
				line-height: 18px;
				color: $white;
				opacity: 0.7;

			}
			.footer_link{
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 12px;


				.footer_link_left{
					a{
						svg{

						}
					}
					
				}
				.footer_link_right{
					
					a{
						img{

						}
					}
				}
				
			}
			.internet{
				display: flex;
				gap: 12px;
				align-items: center;
				margin-top: 13px;
				justify-content: space-around;
			}
		}
	}
}
}

/* NORMALIZE CSS */

* {
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	margin: 0;
}

body {
	margin: 0;
}

main {
	display: block;
}

ul {
	margin: 0{

	};
	padding: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}