header {
	margin-top: 40px;

	.container {
		display: flex;
		gap: 64px;

		.header__menu {
			position: relative;

			.header__menu__item {
				display: flex;
				justify-content: space-between;
				width: 217px;
				height: 24px;
				margin-bottom: 16px;

				a {
					font-size: 16px;
					color: $black;
					text-decoration: none;
					white-space: nowrap;
					width: 100%;
					line-height: 24px;
				}

				.header__menu__item__open {
					cursor: pointer;
					transition: transform $trs;
				}

				&:last-child {
					margin-bottom: 0px;
				}
			}

			&::after {
				content: "";
				width: 0.5px;
				height: calc(100% + 40px);
				position: absolute;
				background: $black;
				top: -40px;
				right: 0px;
				opacity: 0.3;
			}
		}

		.header__slider {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 24px;
			width: 892px;
			background: #000;
			padding: 32px;

			.header__slider__content {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 24px;

				.header__slider__left {
					flex-basis: 294px;
					white-space: nowrap;

					.header__slider__brand {
						display: flex;
						align-items: center;
						gap: 16px;

						img {
							display: block;
							margin: 0;
						}

						span {
							font-size: min(16px, max(8px + 2vw));
							text-align: center;
							color: $mediumWhite;
						}
					}

					.header__slider__title {
						h4 {
							font-family: 'Inter', sans-serif;
							font-weight: 600;
							font-size: min(48px, max(24px + 2vw));
							letter-spacing: 2px;
							color: $mediumWhite;
							margin: 24px 0px;
						}
					}

					.header__slider__btn {
						a {
							display: flex;
							align-items: center;
							gap: 12px;
							font-size: min(16px, max(8px + 2vw));
							text-decoration: none;
							color: $mediumWhite;

							span {
								border-bottom: 1px solid $mediumWhite;
								padding-bottom: 4px;
							}
						}
					}
				}

				.header__slider__right {
					flex-basis: 400px;

					img {
						display: block;
						width: 100%;
					}
				}

				@media screen and (max-width: $mobileL) {
					flex-wrap: wrap;

					.header__slider__left {
						flex-basis: unset;
						text-align: center;

						.header__slider__brand,
						.header__slider__btn a {
							justify-content: center;
						}
					}

					.header__slider__right {
						flex-basis: unset;
					}
				}
			}

			.header__slider__dots {
				display: flex;
				justify-content: center;
				gap: 12px;

				.dot {
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background: #fff;
					opacity: 0.5;
					cursor: pointer;

					&.active__dot {
						background: $red;
						opacity: 1;
						border: 2px solid #fff
					}
				}
			}

			@media screen and (max-width: $mobileM) {
				padding: 24px;
			}

			@media screen and (max-width: $mobileS) {
				padding: 12px;
			}
		}

		@media screen and (max-width: 1100px) {
			gap: 32px;

			.header__menu {
				.header__menu__item {
					width: 180px;
				}
			}
		}

		@media screen and (max-width: $tabletL) {
			gap: 16px
		}

		@media screen and (max-width: $tabletM) {
			flex-wrap: wrap;

			.header__menu {
				display: flex;
				overflow-y: hidden;
				overflow-x: auto;
				gap: 32px;

				&::after {
					display: none;
				}

				.header__menu__item {
					width: unset;

					a {
						width: unset;
					}
				}
			}

			::-webkit-scrollbar {
				width: 10px;
				height: 6px;
				border-radius: 32px;
			}

			::-webkit-scrollbar-track {
				background: #f1f1f1;
				border-radius: 32px;
			}

			::-webkit-scrollbar-thumb {
				background: #888;
				border-radius: 32px;
			}

			::-webkit-scrollbar-thumb:hover {
				background: #555;
			}
		}

		@media screen and (max-width: $mobileM) {
			.header__menu {
				.header__menu__item {
					a {
						font-size: 14px;
					}
				}
			}
		}

		@media screen and (max-width: $mobileS) {
			.header__menu {
				.header__menu__item {
					a {
						font-size: 12px;
					}
				}
			}
		}
	}
}