$white : #FFFFFF;
$mediumWhite: #FAFAFA;
$lightYellow: #FEFAF1;
$black: #000000;
$gray : #7D8184;
$mediumGray: #F5F5F5;
$orange: #D37643;
$red: #DB4444;
$mediumRed: #E07575;
$green: #00FF66;
$blue: #A0BCE0;

$br : 4px;
$trs : 0.3s;

$tabletL: 1024px;
$tabletM: 820px;
$mobileL: 768px;
$mobileM: 580px;
$mobileS: 380px;